<h2 class="screen-align">Createsales</h2>
<div id="template-ilv2" class="gjs-row">
    <div id="template-i30y" class="gjs-cell">
        <label id="template-i0o3" class="label ">name</label>
        <input id="template-ijxh" [(ngModel)]="testapp.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-igrz" class="gjs-cell">
        <label id="template-ib3d" class="label ">test</label>
        <input id="template-i3z9v" [(ngModel)]="testapp.test" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
</div>
<div id="template-i0lww" class="gjs-row">
    <div id="template-iopqr" class="gjs-cell">
        <textarea id="template-ictec" class="textarea "></textarea>
    </div>
</div>
<div id="template-i2xw8" class="gjs-row">
    <div id="template-i6rai" class="gjs-cell">
        <div id="template-ihlmh" (click)="GpCreate()" class="button btn btn-primary ">Send</div>
    </div>
</div>