<h2 class="screen-align">Updatedelsaleforce</h2>
<div id="template-ikj9" class="gjs-row">
    <div id="template-iky3" class="gjs-cell">
        <label id="template-ibt3" class="label ">Label</label>
        <input id="template-ii04" class="input form-control " />
    </div>
    <div id="template-i333" class="gjs-cell">
        <label id="template-ip7n" class="label ">Label</label>
        <input id="template-iww2" class="input form-control " />
    </div>
</div>
<div id="template-ih2tq" class="gjs-row">
    <div id="template-iqgpy" class="gjs-cell">
        <textarea id="template-ixyq7" class="textarea "></textarea>
    </div>
</div>
<div id="template-iv8fm" class="gjs-row">
    <div id="template-i3jrk" class="gjs-cell">
        <div id="template-ihv4a" (click)="GpUpdate()" class="button btn btn-primary ">Send</div>
        <div id="template-iadlj" (click)="GpDelete()" class="button btn btn-primary ">Send</div>
    </div>
</div>